{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="initial-scale=1, width=device-width">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <script src="{% static 'js/layout.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>

    {% block reference %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body onload="loadSetting()">
<nav class="container text-center narbar-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="">
                <a class="navbar-brand ms-5" src="">
                    <img src="../static/img/logo.png" alt="" width="50" height="50"
                         class="d-inline-block align-text-top">
                </a>
            </div>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-sm-5 d-flex align-items-center">
            <ul class="nav justify-content-end">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="home" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="create_quiz" href="/create_quiz">Create Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="display_quiz" href="/display_quiz">Display Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="run_quiz" href="/run_quiz">Run Quiz</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="login" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signUp" href="/register">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="join_quiz" href="/join_quiz">Join Quiz</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close ml-auto" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
        {% endif %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}




<div class="webpage_body">{% block body %}{% endblock %}</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>

</body>
</html>