{% extends "layout.html" %}


{% block title %}Display LeaderBoard{% endblock %}

{% block reference %}
{% endblock %}

{% block body %}
    <div class="container text-center">

        <div class="row">
            <div class="col"><h2>Winner:</h2></div>
        </div>




        {% for rank,student_name,score in ranking %}
            <div class="row">
            <div class="col-3">
                {{ rank }}
            </div>
            <div class="col-3">
                {{ student_name }}:
            </div>
            <div class="col-3">
                {{ score }}
            </div>
            <div class="col-3">
            </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}