{% extends "layout.html" %}
{% load static %}
{% block title %}Run Quiz{% endblock %}

{% block reference %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/run_quiz.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% endblock %}

{% block body %}
    <p></p>
    <form method="POST">
        <div class="container text-center">
            <p></p>
            <div class="row row-cols-4">
                <div class="col timer d-lg-flex justify-content-center">
                    <div id="js_timer">
                        00:07 s
                    </div>
                </div>

                <div class="col question" id="qid"><img src="{% static 'img/question mark.png' %}" width="64" height="64">
                    Question {{ quiz.id }}:
                </div>
                <div class="col question question-content">{{ quiz.content }}</div>
                <div class="col"></div>

            </div>
            <p></p>
            <div class="row row-cols-3 waiting" id="waiting">
                <div class="col">
                </div>
                <div class="col">
                    <h2> Waiting for others...</h2>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row row-cols-4" id="btnGroup1">
                <div class="col">
                </div>
                <div class="col answer">
                    <button type="button" class="button1" value="1" name="btn"
                            onclick="submitAnswer(1)">{{ quiz.choice_1_content }}</button>
                </div>
                <div class="col answer">
                    <button type="button" class="button2" value="2" name="btn"
                            onclick="submitAnswer(2)">{{ quiz.choice_2_content }}</button>
                </div>
                <div class="col">
                </div>
            </div>
            <p></p>
            <div class="row row-cols-4" id="btnGroup2">
                <div class="col">
                </div>
                <div class="col answer">
                    <button type="button" class="button3" value="3" name="btn"
                            onclick="submitAnswer(3)">{{ quiz.choice_3_content }}</button>
                </div>
                <div class="col answer">
                    <button type="button" class="button4" value="4" name="btn"
                            onclick="submitAnswer(4)">{{ quiz.choice_4_content }}</button>
                </div>
                <div class="col">
                </div>
            </div>

        </div>
    </form>
    <div class="container text-center ">
        <div class="row m_row teacher_view" id="TeacherBlock">
            <div class="col-12">
                <button type="button" class="btn btn-success" onClick="nextQuiz()"> Start the Next Quiz
                </button>
            </div>
        </div>
    </div>

    <script>
        const quizzes = {{ quizzes|safe }};
        const role = "{{ role }}";
        const nickname = "{{ nickname }}";
        const session_id = {{ session_id }};
        const quiz_length = {{ quiz_length }};
        let qid = 0;
        const leaderboardUrl = "{% url 'show_leaderboard' session_id=session_id %}";

        console.log(quizzes);
    </script>
    <script src="{% static 'js/runQuiz.js' %}" onload="loadSetting()"?v=3.2></script>

{% endblock %}

